.board__header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

image {
}

.board_user {

}

.board__user p {
    display: inline;
    padding-left: 12px;
}

.board__date {
    font-size: small;
    color: rgb(100, 100, 100);
}

.board__icons {
    padding-top: 10px;
}

.board_title {

}

.board_content {

}

.board {
    padding: 0px 12px;
}

hr {
    background: rgba(0, 0, 0, 0.120);
    height: 1px;
    border: 0;
}